 .logo{
    /* height: 10px;
    width: 5px;*/
    margin-left: 20px;
    padding-top: 30px;
    float: left;
    width: 10%;
} 

.navigation{
    width:100%;
    float: right;
    text-align: end; 
    /* margin-right: 70px; */
    padding: 0px;
}
.navigation nav a{
    margin: 10px;
    padding: 5px;
    color: rgb(232, 218, 218);
    font-size: 20px;
    text-decoration: none;
}
.content{
    text-align: center;
    padding-top: 50px;  
}

.footer{
    color: rgb(244, 244, 235);
    display: flex;
}
.footer a{
    color: rgb(7, 9, 11);
    padding: 20px;

} 